<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body class="bg-gray-200 h-screen flex items-center justify-center">
    <div class="max-w-xs w-full p-6 bg-white shadow-md rounded-lg">
      <h1 class="text-center text-3xl font-bold mb-6">Welcome to Kanban App</h1>
      <div class="flex items-center justify-between mb-6">
        <a class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded focus:outline-none focus:shadow-outline login-btn" href="/login">
          Login
        </a>
        <a class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white font-bold rounded focus:outline-none focus:shadow-outline register-btn" href="/register">
          Register
        </a>
      </div>
    </div>
  </body>
  
</html>